* {
  box-sizing: border-box;
}

h1{
  text-align: center;
  margin: 50px auto;
}

#calculator {
  width: 300px;
  border: 3px solid lightgray;
  border-radius: 5%;
  background-color: black;
  text-align: center;
  margin: auto;
}

#result {
  width: 180px;
  height: 50px;
  margin: 5px;
  text-align: right;
}

#operator {
  width: 50px;
  height: 50px;
  margin: 5px;
  text-align: center;
}

button {
  width: 50px;
  height: 50px;
  margin: 5px;
  border: none;
  align-items: center;
}

#num-0,
#calculate,
#clear {
  width: 115px;
  height: 50px;
}

#clear,
#percent,
#divide {
  background-color: #9c9a9a;
}

#multiply,
#plus,
#minus,
#decimal {
  background-color: #ff9900;
}

#decimal {
  font-weight: 900;
}